---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Bauhinia Labs</h1>
</BaseLayout>

<style>
  h1 {
    font-size: 4rem;
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
    color: #c85243;
  }
</style>
